<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
      anchors.options = {
        {% if page.anchor_placement == 'right' %}
          placement: 'right'
        {% else %}
          placement: 'left'
        {% endif %}
      };
      anchors.add();
    </script>
  </body>
</html>
